<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body style="background-color:#ff5e6c">
    <!-- Section: Team v.2 -->
    <section class="team-section text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">The Oxford College of Engineering</h2>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">Information Science and Engineering</p>
        <div>
            <img src="static/images/pics/ISE/Geetha_Rani.jpg" alt="Kanagavalli">
            <h2>Dr.Kannagavalli</h2>
            <h3>Head, Information Science & Engineering</h3>
        </div>
        <br>
        <!-- Grid row -->
        <div class="row text-center">

            <!-- Grid column -->
            {% for result in results %}
            <div class="col-md-4 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="static/images/pics/ISE/{{result[0]}}.jpg" class="rounded z-depth-1-half" width="250px" height="250px" alt="Sample avatar">
                </div>
                <h4 class="font-weight-bold dark-grey-text my-4">{{result[0]}}</h4>
                <h6 class="text-uppercase grey-text mb-3"><strong>{{result[6]}}</strong></h6>
            </div>
            {% endfor %}
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </section>
    <!-- Section: Team v.2 -->
</body>

</html>